<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter product name or brand">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchName()">
                Search Product Name
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchBrand()">
                Search Brand
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Barcode</th>
            <th>Edit</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="grocery_list in ctrl.grocery_lists">
            
            <td>{{ grocery_list.name }}</td>
            <td>{{ grocery_list.brand }}</td>
            <td>{{ grocery_list.upc12 }}</td>
            <td>{{ grocery_list.upc12 }}</td>
            <td><a class="btn btn-info" ui-sref="editWithParams({name:grocery_list.name})">Edit</a>
        </tr>
        </tbody>
    </table>
</div>